MENDIX_TOKEN=<Mendix PAT to read the repository (scope: mx:modelrepository:write, mx:modelrepository:repo:read, mx:modelrepository:repo:write, mx:app:delete, mx:app:create)>
MENDIX_USERNAME=<mendix username aka postnl e-mail>
MENDIX_API_KEY=<personal api key mendix>
MENDIX_MARKETPLACE_TOKEN=<Mendix PAT to read the repository (scope: mx:marketplace-content:read)>